* {
  font-family: "Gilroy";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --primary: #4154f1;
  --second: #717ff5;
  --bgColor: #f6f9ff;
}

body {
  color: #444444;
  background: var(--bgColor);
}

a {
  color: var(--primary);
  text-decoration: none !important;
  cursor: pointer;
}

a:hover {
  color: var(--second);
  text-decoration: none;
}

.card {
  margin-bottom: 30px;
  border: none !important;
  border-radius: 5px;
}
.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}
.card-title {
  padding: 20px 0 15px 0;
  font-size: 23px !important;
  font-weight: bold !important;
  color: #012978 !important;
  letter-spacing: 1px;
}

.card-title span {
  color: #899bbd;
  font-size: 18px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

